.about-me-container {
    padding-left: 20%;
    padding-right: 20%;
}

.about-me-intro-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.work-experience {
    padding-left: 5%;
    padding: 3%;
}

.work-experience-company {
    line-height: 1;
}

.work-experience-job-title {
    line-height: 1;
}

.work-experience-date {
    line-height: 1;
}

.work-experience-resp {
    line-height: 1;
}

.work-experience-project {
    line-height: 1;
}