.main-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image-container img{
    margin-left: 10%;
    height: 500px;
}

.main-image-description {
    margin-left: 15%;
    margin-right: 2%;
    justify-content: center;
    text-align: center;
}

.previous-iterations-container img {
    display: block;
    max-height: 100%;
    /* max-width: 30%; */
    width: auto;
}
.previous-iterations-container {
    margin: 2%;
}

.img-container {
  max-width: 100%;
}
.img-container-2 {
  max-width: 23.5%;
}


/* Previous iteration grid */


/* Specific image  */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  /* max-width: 25%; */
  padding: 0 4px;
}
  
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


