.type-theater-container {
    padding-left: 5.9%;
    display: flex;
}

.type-theater-main-image-container {
    display: flex;
    flex-direction: column;
    width: 57.5%;
}

.type-theater-flex-container {
    display: flex; /* Use Flexbox */
    align-items: center; /* Align items vertically (in the center) */
}

.type-theater-description-container {
    align-items: center;
    padding-left: 2%;
    width: 30%;
    flex-direction: column;
}
