.about-section {
    margin: 2% 2% 2% 2%;
}

.about-content p {
    /* padding-right: 50%   ; */
    text-align: left;
    width: 60%;
    padding-right: 5%;
}

.about-content h2{
    padding-bottom: 15px;
}

.about-pfp {
    /* padding-left: 50%; */
    position: absolute;
    left: 80%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.about-pfp img {
    width: auto;
    max-width: 350px;
    height: auto;
    max-height: 200px;
    /* padding-left: 50%; */
    /* text-align: right; */
}

.about-contact p{
    /* padding-bottom: 2px; */
}
