/* Remove the comments around the universal reset, if needed */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.navbar-whole-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center the content vertically */
    padding-top: 3%;
    /* width: 100%; */
}

.navbar-name-container {
    display: flex;
    padding-left: 6.9%;
    width: 20%;
    padding-bottom: 2%;
}

.navbar-name-container a {
    text-decoration: none;
    /* color: #4C4E52; */
    font-size: 16px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.navbarItems {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 15%;
    padding-bottom: 2%;
}

.nav-item-name {
    width: 100%;
    outline: plum; /* Note: You may want to remove this outline */
    outline-style: solid;
    /* align-items: start; */ /* This line can be removed */
}
